.about__page .section__hero {
  height: calc(648px - 210px);
  padding-top: 210px;
  background-image: url(../img/about/hero.png);
}

.section__about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #fff;
  margin-bottom: 100px;
}
.section__about_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 50px);
  max-width: 1150px;
  margin-bottom: 96px;
}
.about__container_block {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.about__container_number {
  position: relative;
  margin-right: 5px;
}
.about__container_number:after {
  position: absolute;
  top: 0;
  right: -30px;
  content: url(../img/about/plus.svg);
}
.about__container_descr {
  text-align: left;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  color: #6C6C6C;
}
.about__container_line {
  width: 1px;
  height: 44px;
  background: #aaa;
}
.about__container_fourth {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.about__line {
  display: block;
  width: calc(50% - 46px);
  height: 1px;
  background: #D8D8D8;
} 
.about__ellipse {
  display: block;
  width: 14px;
  height: 14px;
  background: #757575;
  border-radius: 50%;
  border: 16px solid #EBEBEB;
}
.section__team {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 150px;
}
.title__container {
  font-family: 'EkibastuzBlack';
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  color: #4A4A4A;
  margin-bottom: 45px;
}
.team__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: calc(100% - 50px);
  max-width: 1200px;
}
.persone__block {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 25%;
  margin-bottom: 35px;
}
.persone_photo {
  width: 200px;
  height: auto;
  margin-bottom: 26px;
}
.persone__name {
  white-space: nowrap;
  font-family: 'EkibastuzBlack';
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  color: #4A4A4A;
}
.persone__name:after {
  content: '';
  display: block;
  width: 24px;
  height: 3px;
  background: #0195B6;
  margin: 10px auto;
}
.persone__position {
  font-weight: bold;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #6C6C6C;
}

.section__reviews {
  position: relative;
  height: 549px;
  margin-bottom: 150px;
}
.reviews__container_img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.section__reviews .img__block {
  background-position: left bottom;
}
.reviews__text {
  z-index: 2;
  background-image: url(../img/about/reviews_text.svg);
}
.reviews__gradient {
  z-index: 1;
  background-image: url(../img/about/reviews_gradient.svg);
}
.reviews__lower {
  z-index: 3;
  background-image: url(../img/about/reviews_lower.svg);
}
.reviews__container_text {
  position: absolute;
  top: 14px;
  right: 175px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 870px;
}
.review__block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 385px;
  margin-bottom: 70px;
}
.review__block.review_3 {
  margin-left: 55px;
}
.review__block.review_4 {
  margin-right: -12px;
}
.review__block_descr {
  font-weight: bold;
  font-style: italic;
  font-size: 15px;
  line-height: 22px;
  text-align: left;
  color: #888888;
  margin-bottom: 15px;
}
.review__block_name {
  width: 100%;
  max-width: 260px;
  font-family: 'EkibastuzBlack';
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  text-align: left;
  color: #00A2B8;
}
.review__block_name span {
  font-size: 14px;
  line-height: 14px;
  color: #4A4A4A;
}
.br__for_mobile {
  display: none;
}

@media screen and (max-width: 1550px) {
  .reviews__container_text {
    right: 70px;
    max-width: 860px;
  }
}
@media screen and (max-width: 1435px) {
  .reviews__container_text {
    max-width: 820px;
    right: 37px;
  }
}
@media screen and (max-width: 1375px) {
  .section__reviews {
    height: 440px;
  }
  .reviews__container_text {
    max-width: 820px;
  }
  .section__reviews {
    height: 440px;
  }
  .review__block {
    margin-bottom: 40px;
  }
  .review__block_descr {
    font-size: 14px;
  }
}
@media screen and (max-width: 1300px) {
.reviews__container_text {
    max-width: 815px;
    right: 0px;
  }
}
@media screen and (max-width: 1220px) {
  .about__page .section__hero {
    height: calc(495px - 96px);
    padding-top: 96px;
  }
  .about__page .hero__descr {
    max-width: 300px;
  }
  .section__reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
  }
  .reviews__container_text {
    position: relative;
    right: 0;
  }
  .reviews__container_img {
    position: relative;
    height: 549px;
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 960px) {
  .about__container_line {
    display: none;
  }
  .persone_photo {
    width: 100px;
    height: auto;
  }
  .persone__name {
    font-size: 16px;
    line-height: 16px;
  }
}
@media screen and (max-width: 920px) {
  .section__about_container {
    flex-direction: column;
    margin-bottom: 20px;
  }
  .about__container_number img {
    height: 85px;
    margin-bottom: 7px;
  }
  .about__container_block {
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
  }
  .about__container_descr {
    font-size: 18px;
    line-height: 24px;
    text-align: center;
  }
  .about__container_number:after {
    top: 65px;
  }
}
@media screen and (max-width: 860px) {
  .reviews__container_text {
    flex-direction: column;
    align-items: center;
  }
  .review__block.review_3 {
    margin-left: 0;
  }
  .review__block.review_4 {
    margin-right: 0;
  }
  .review__block {
    align-items: flex-start;
  }
}
@media screen and (max-width: 800px) {
  .section__about {
    margin-bottom: 40px;
  }
  .persone__block {
    width: 50%;
  }
  .title__container {
    font-size: 30px;
    line-height: 30px;
  }
  .persone_1 {order: 1}
  .persone_2 {order: 2}
  .persone_3 {order: 3}
  .persone_4 {order: 4}
  .persone_5 {order: 5}
  .persone_6 {order: 6}
  .persone_7 {order: 7}
  .persone_8 {order: 8}
  .persone_9 {order: 9}
  .persone_10 {order: 10}
  .persone_11 {order: 11}
  .persone_12 {order: 12}
}
@media screen and (max-width: 600px) {
  .section__about_container {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 560px) {
  .about__page .section__hero {
    background-image: url(../img/about/hero_mob.png);
    height: calc(395px - 96px);
  }
  .about__page .hero__lines {
    background-image: url(../img/about/hero_lines_mob.svg);
    background-size: contain;
    -o-background-size: contain;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -khtml-background-size: contain;
  }
  .section__team {
    margin-bottom: 60px;
  }
  .section__reviews {
    margin-bottom: 35px;
  }
  .reviews__container_img {
    height: 300px;
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 460px) {
  .reviews__container_text {
    width: calc(100% - 40px);
    padding: 0 20px;
  }
  .br__for_mobile {
    display: inline;
  }
  .review__block {
    width: 100%;
    max-width: 100%;
  }
  .persone__name {
    white-space: normal;
  }
}
@media screen and (max-width: 440px) {
  .team__container {
    width: calc(100% - 30px);
  }
}
@media screen and (max-width: 420px) {
  .persone_3 .persone__position,
  .persone_5 .persone__position {
    height: 42px;
  }
}
@media screen and (max-width: 410px) {
  .review__block_descr br {display: none;}
}

@media screen and (min-width: 1900px) {
  .reviews__text, .reviews__gradient, .reviews__lower {
    display: none;
  }
  .reviews__container_img {
    background-image: url(../img/about/reviews.svg);
    background-repeat: no-repeat;
    background-position: calc(50% - 600px) center;
  }
  .reviews__container_text {
    right: calc(50% - 655px);
  }
}